body{
    margin: 0;
    height: auto;
    font-family: 'Rubik', sans-serif;
    .logo{
        position: absolute;
        width: 340px;
        height: auto;
        top: 20px;
        left: 20px;
        img{
            width: 100%;
            height: auto;
        }
    }
}
.margin{
    margin: auto;
}
.page{
    font-size: 10px;
    display: flex;
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
    height: auto;
    flex-direction: column;
    background: linear-gradient(43.08deg, #0F4A82 8.22%, #295D8F 28.67%, rgba(85, 127, 167, 0.9) 62.97%, rgba(102, 140, 176, 0.81) 79.89%);
    mix-blend-mode: normal;
    padding-top: 150px;
    padding-bottom: 40px;
    input:focus,button:focus{
        outline: none;
    }
    button{
        background-color: #104b83!important;
        border-color:  #104b83!important;
        color: #ffffff!important;
    
    }
    .main{
        background-color: #fafafa;
        box-shadow: 0px 1px 30px rgba(255, 255, 255, 0.5);
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 500px;
        margin: auto;
        padding: 20px;
        border-radius: 15px;
        h1{
            text-align: center;
            margin-bottom: 30px;
        }
        a{
            padding: 20px 40px;
            display: block;
            background-color: #104b83;
            border-radius: 15px;
            width: 240px;
            text-align: center;
            color: #ffffff;
            font-size: 1rem;
            margin: auto;
            margin-bottom: 20px;
            &:hover{
                text-decoration: underline;
            }
            &:last-child{
                margin-bottom: 0px;
            }
        }
        input{
            width: 340px;
            height: 40px;
            border: 1px solid #dadada;
            border-radius: 15px;
            margin: auto;
            margin-bottom: 15px;
            font-size: 1rem;
            padding-left: 10px;
        }
        button{
            width: 340px;
            height: 40px;
            font-size: 1.3rem;
            margin: auto;
            border: 1px #dadada solid;
            background-color: #ffffff;
            border-radius: 15px;
            cursor: pointer;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    .potok
    {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 500px;
        max-width: 700px;
        height: auto;
        margin: auto;
        background-color: #ffffff;
        border-radius: 15px;
        min-height: 100px;
        padding: 20px;
        h1{
            text-align: center;
        }
        button{
            width: 300px;
            height: 50px;
            font-size: 1.3rem;
            border: 1px solid #dadada;
            background-color: #ffffff;
            color: #000000;
            border-radius: 15px;
            cursor: pointer;
            &:hover{
                text-decoration: underline;
            }
        } 
    }
}