.CreatePotoks{
    .form{
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        label{
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            &:last-child{
                margin-bottom: 0px;
            }
            span{
                font-size: 1rem;
            }
            input{
                width: 320px;
                height: 40px;
                border: 1px solid #dadada;
                border-radius: 15px;
                padding-left: 20px;
                font-size: 1.5rem;
            }
            input[type="checkbox"]{
                border: 1px solid #dadada;
                border-radius: 10px;
                height: 20px;
                background-color: #ffffff;
            }
        }
    }
}