.SteaperRole0{
    min-height: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    width: 700px;
    background: #ffffff;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    button.next,button.prev{
        width: 260px;
        height: 40px;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        background-color: #5D48E8;
        border-radius: 10px;
        border: 1px solid #5D48E8;
        margin-top: 10px;
        &:hover{
            border-color: #48b1e8ab;
        }
    }
    .step1{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        label{
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
            span{
                font-size: 1rem;
                // margin-bottom: 5px;
            }
            textarea,
            input{
                width: 320px;
                height: 40px;
                border: 1px solid #dadada;
                border-radius: 10px;
                font-size: 1rem;
                padding: 10px 20px;
                &:focus{
                    border-color: #48b1e8ab;
                }
            }
            textarea{
                height: 150px;
            }
        }
    }
    .step2{
        width: 100%;
        min-height: 400px;
        padding: 50px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        position: relative;
        .next{
            bottom: 5px;
            right: 20px;
            position: absolute;
        }
        .prev{
            bottom: 5px;
            left: 20px;
            position: absolute;

        }
        .predmets{
            width: 100%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;
            div{
                padding: 5px;
                padding-right: 30px;
                border: 1px solid #dadada;
                border-radius: 5px;
                position: relative;
                margin-right: 3px;
                span{
                    display: block;
                    font-size: 1rm;
                }
                button{
                    width: 20px;
                    height: 20px;
                    display: block;
                    padding: 0px;
                    border: 1px solid #dadada;
                    background: #ffffff;
                    border-radius: 50%;
                    position: absolute;
                    right: 2.5px;
                    top: calc(50% - 10px);
                    &::before,&::after{
                        content: "";
                        display: block;
                        width: 8px;
                        height: 1px;
                        background-color: #dadada;
                        left: calc(50% - 4px);
                        position: absolute;
                        transform: rotate(45deg);
                    }
                    &::after{
                        transform: rotate(-45deg);
                    }
                    &:hover{
                        border-color: #000000;
                        &::before,&::after{
                            background-color: #000000;
                        }
                    }
                }
            }
        }
        .addPole{
            border: 1px solid #dadada;
            padding: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            label{
                display: flex;
                flex-direction: column;
                span{
                 margin-top: 5px;       
                }
                input{
                    border: 1px solid #dadada;
                    border-radius: 10px;
                    padding-left: 5px;
                    &:focus{
                        border-color: #48b1e8ab;
                    }
                }
            }
            button{
                margin-top: 8px ;
                background-color: #ffffff;
                border: 1px solid #dadada;
                padding: 5px 10px;
                border-radius: 5px;
            }
        }

    }
    .step3{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100%;
        flex-direction: column;
        min-height: 300px;
        & > *{
            margin-top: 20px;   
        }
    }
}