.AccountRole2{
    min-width: 500px;
    max-width: 700px;
    height: auto;
    margin: auto;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    font-size: 1rem;
    & > div{
        margin-bottom: 20px;
        &> span{
            margin-right: 20px;
        }
        & > button{
            width: 240px;
            font-size: 1.3rem;
            background-color: #ffffff;
            color: #000000;
            border: 1px solid #dadada;
            border-radius: 15px;
            margin-bottom: 10px;
            cursor: pointer;
            &:hover{
                text-decoration: underline;
            }
        }
        & > textarea{
            width: 100%;
            height: 200px;
            border: 1px solid #dadada;
            border-radius: 15px;
            padding: 10px;
        }
        & > .textPole{
            width: 100%;
            height: 200px;
            border: 1px solid #dadada;
            border-radius: 15px;
            overflow-y: auto;
            padding: 10px;
        }
    }
    & > div:last-child{
        margin-bottom: 0px;
    }
}