.SteperCreate{
    padding: 10px;
    max-width: 700px;
    height: auto;
    min-height: 300px;
    width: 100%;
    margin: auto;
    display: block;
    box-shadow: 0px 1px 30px rgba(255, 255, 255, 0.5);
    background-color: #ffffff;
    border-radius: 15px;
    button.next,button.prev{
        width: 260px;
        height: 40px;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        background-color: #5D48E8;
        border-radius: 10px;
        border: 1px solid #5D48E8;
        margin-top: 10px;
        &:hover{
            border-color: #48b1e8ab;
        }
    }
    .step{
        width: auto;
        height: auto;
        min-height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        label{
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;
            span{
                font-size: 1.2rem;
            }
            input{
                width: 320px;
                padding-left: 10px;
                height: 40px;
                border: 1px solid #dadada;
                font-size: 1.2rem;
                border-radius: 10px;
            }
        }
    }
    .step2{
        width: 100%;
        min-height: 400px;
        padding: 50px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        position: relative;
        .next{
            bottom: 5px;
            right: 20px;
            position: absolute;
        }
        .prev{
            bottom: 5px;
            left: 20px;
            position: absolute;

        }
        .predmets{
            width: 100%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;
            div{
                padding: 5px;
                padding-right: 30px;
                border: 1px solid #dadada;
                border-radius: 5px;
                position: relative;
                margin-right: 3px;
                margin-bottom: 3px;
                span{
                    display: block;
                    font-size: 1rm;
                }
                button{
                    width: 20px;
                    height: 20px;
                    display: block;
                    padding: 0px;
                    border: 1px solid #dadada;
                    background: #ffffff;
                    border-radius: 50%;
                    position: absolute;
                    right: 2.5px;
                    top: calc(50% - 10px);
                    &::before,&::after{
                        content: "";
                        display: block;
                        width: 8px;
                        height: 1px;
                        background-color: #dadada;
                        left: calc(50% - 4px);
                        position: absolute;
                        transform: rotate(45deg);
                    }
                    &::after{
                        transform: rotate(-45deg);
                    }
                    &:hover{
                        border-color: #000000;
                        &::before,&::after{
                            background-color: #000000;
                        }
                    }
                }
            }
        }
        .addPole{
            border: 1px solid #dadada;
            padding: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            label{
                display: flex;
                flex-direction: column;
                span{
                 margin-top: 5px;       
                }
                input{
                    border: 1px solid #dadada;
                    border-radius: 10px;
                    padding-left: 5px;
                    &:focus{
                        border-color: #48b1e8ab;
                    }
                }
                select{
                    background: transparent;
                    border: 1px solid #dadada;
                    border-radius: 10px;
                    padding-left: 5px;
                    &:focus{
                        border-color: #48b1e8ab;
                    }
                }
            }
            button{
                margin-top: 8px ;
                background-color: #ffffff;
                border: 1px solid #dadada;
                padding: 5px 10px;
                border-radius: 5px;
            }
        }

    }
    .step3{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100%;
        flex-direction: column;
        min-height: 300px;
        & > *{
            margin-top: 20px;   
        }
    }
    .step4{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        button{
            width: auto;
            padding: 10px 5px;
            min-width: 220px;
            height: auto;
            font-size: 1.3rem;
            border: 1px solid #dadada;
            border-radius: 15px;
            cursor: pointer;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}