.FormaBlock{
    margin: auto;
    color: #ffffff;
    background-color: #fafafa;
    box-shadow: 0px 1px 30px rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 20px;
    // box-shadow: 0px 10px 14px 10px rgba(102, 140, 176, 0.81);
    .ant-form-item-required{
        color: #000000;
    }
    .ant-form-item-required::before{
        content: none;
    }
    .ant-row{
        width: 300px;
        margin: auto;
    }
    .ant-input{
        border-width: 2px;
    }
    .send{
        display: flex;
        background-color: #5D48E8;
        border: 1px solid #5D48E8;
        color: #ffffff;
        padding: 10px 20px;
        border-radius: 15px;
        margin: auto;
    }
    select{
        width: 100%;
        display: block;
        height: 32px;
        border: 2px solid #DADADA;
        border-radius: 5px;
        background: #ffffff;
    }
}